form {
  font-family: "Roboto Mono";
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40vh;
}
.c-form__contact h1 {
  font-size: 2vh;
  color: #969595;
  padding: 10px;
}

label {
  padding: 10px;
  margin: 10px;
  width: 60%;
  display: flex;
  justify-content: space-between;
  color: #969595;
  font-weight: 700;
  font-size: 1.8vh;
}

input,
textarea {
  width: 22vw;
}

.c-button__form {
  justify-self: right;
  width: 50%;
  padding: 5px 15px;
  margin: 10px;
  border: none;
  border-radius: 2px;
  background-color: grey;
  color: white;
}
.c-button__form:hover {
  background-color: #ff614b;
  color: white;
  transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
  label {
    margin-left: -20px;
  }
  input,
  textarea {
    width: auto;
    border: 1px grey solid;
    margin-left: 10px;
  }
}
